.detailContainer{
  margin: 40px 0 40px 0;
}

.rocketImageGroup{
  display: flex;
  flex-direction: row;
}

.rocketImage{
  width: 70%;
  height: 70%;
  margin-top: 25px;
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: 40px;
}

.back{
  margin-top: 50px;
}